/*
    Notice that the next ids are used for background images. The best practice is to change their respective
    background image dynamically using javascript. But until this part of the program I have only learned CSS and HTML.
*/

.img-post-0 {
    background-image: url("../../assets/images/desk-img.jpg");
}

.img-post-1 {
    background-image: url("../../assets/images/desk-img-1.jpg");
}

.img-post-2 {
    background-image: url("../../assets/images/desk-img-2.jpg");
}

.img-post-3 {
    background-image: url("../../assets/images/desk-img-3.jpg");
}

.img-post-4 {
    background-image: url("../../assets/images/desk-img-4.jpg");
}

.img-post-5 {
    background-image: url("../../assets/images/desk-img-5.jpg");
}

.img-post-6 {
    background-image: url("../../assets/images/desk-img-6.jpg");
}

.img-post-7 {
    background-image: url("../../assets/images/desk-img-7.jpg");
}

.img-post-8 {
    background-image: url("../../assets/images/desk-img-8.jpg");
}

.img-post-9 {
    background-image: url("../../assets/images/desk-img-9.jpg");
}

.img-post-10 {
    background-image: url("../../assets/images/desk-img-10.jpg");
}

.img-post-11 {
    background-image: url("../../assets/images/desk-img-11.jpg");
}

.img-post-12 {
    background-image: url("../../assets/images/desk-img-12.jpg");
}

.img-post-13 {
    background-image: url("../../assets/images/desk-img-13.jpg");
}

.img-post-14 {
    background-image: url("../../assets/images/desk-img-14.jpg");
}