@import "./global.css";
@import "./theme.css";
@import "./components/nav-bar.css";
@import "./components/side-menu.css";
@import "./components/hero-slider.css";
@import "./components/card.css";
@import "./components/food-cards.css";
@import "./components/branding-cards-A.css";
@import "./components/branding-cards-B.css";
html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    margin: 0;
    grid-template-columns: 1fr 80vw 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "main main main";
    transition: margin-right 0.7s;
    width: 100%;
}

.section-break {
    margin: 4% 0% 4% 0%;
    width: 100%;
}

.sub-section-break {
    margin: 2% 0% 2% 0%;
    width: 100%;
}

#main {
    position: relative;
    top: 30px;
    grid-area: main;
    display: grid;
    margin: 0;
    grid-template-columns: 1fr 80vw 1fr;
    grid-template-rows: 1fr;
}

#main-content {
    grid-area: 1/2/2/3;
}

@media(min-width: 768px) {
    #main {
        top: 40px;
    }
}

@media(min-width: 1000px) {
    #main {
        top: 60px;
    }
}