body {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvatica Neue", Arial, sans-serif;
    font-size: 12px;
    color: #333333;
}

h2 {
    font-size: 1em;
}

.font-family-B {
    font-family: "Segoe Script";
}

.font-italic {
    font-style: italic;
}

.font-bold {
    font-weight: bold;
}

.primary-color {
    background-color: #F9F6E5;
}

.font-primary-color {
    color: #F9F6E5;
}

.secondary-color {
    background-color: #333333;
}

.font-secondary-color {
    color: #333333;
}

.third-color {
    background-color: #EA5643;
}

.font-third-color {
    color: #EA5643;
}

.fourth-color {
    background-color: #F6F6F6;
}

.active-section {
    height: 3px;
    background-color: #333333;
    transition: 4s;
}

@media(min-width: 375px) {
    body {
        font-size: 14px;
    }
}

@media(min-width: 768px) {
    body {
        font-size: 22px;
    }
}

@media(min-width: 1000px) {
    body {
        font-size: 30px;
    }
}

@media(min-width: 1100px) {
    body {
        font-size: 45px;
    }
}