.button.zip-code-alert-button {
    width: 30vw;
    margin: 3%;
}

.zip-code-alert-buttons {
    grid-area: button;
}

#zip-code-alert {
    position: fixed;
    z-index: 1;
    top: 40%;
    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 6vh 15vh 10vh;
    grid-template-areas: "label label" "input input" "button button";
    transition: 0.7s;
}

#zip-code-alert-input {
    width: 60vw;
    height: 5vh;
    padding-left: 5%;
}

#zip-code-alert-form {
    grid-area: input;
    align-self: center;
    justify-self: center;
}