
@import "../images.css";
@import "../components/blog-post-card.css";
@import "../pages/index.css";
@import "../global.css";


.social-media {
    justify-content: space-between;
}

.bubble {
    margin-right: 1%;
}

.red-bubble {
    background-color: #E60023;
    color: #FFFFFF;
    border-radius: 10px;
    height: 2vh;
    width: 15vw;
    border: none;
}

.blue-a-bubble {
    background-color: #3578E5;
    color: #FFFFFF;
    border-radius: 10px;
    height: 2vh;
    width: 15vw;
    border: none;
}

.blue-b-bubble {
    background-color: #0073B1;
    color: #FFFFFF;
    border-radius: 10px;
    height: 2vh;
    width: 15vw;
    border: none;
}

.blue-c-bubble {
    background-color: #1DA1F2;
    color: #FFFFFF;
    border-radius: 10px;
    height: 2vh;
    width: 15vw;
    border: none;
}

.comment {
    margin: 0% 0% 0% 0%;
}

.icon {
    width: 25px;
    height: 25px;
}

.content-section {
    text-align: justify;
    line-height: 1.25em;
}

.blog-post-card {
    width: 25vw;
}

.card-content {
    top: 70%;
}

#post-image {
    height: 25vh;
    width: 70vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1% 1% 1% 1%;
    position: relative;
    left: 10%;
}

#post-image-caption {
    position: relative;
    top: 85%;
    background-color: rgb(72, 65, 67, 0.85);
    border-radius: 10px;
}

#caption-content {
    color: white;
    font-style: normal;
}

#share-icon {
    width: 50px;
    height: 50px;
}

#main-content {
    grid-area: 1/2/2/3;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    color: #484143;
}

#author-avatar {
    width: 58px;
    height: 58px;
    margin-right: 1%;
}

#front {
    margin-bottom: 5%;
}

#post-title {
    font-size: 2em;
    text-align: center;
}

#biography {
    color: rgb(72, 65, 67, 0.50);
    margin: 0%;
}

#update-date {
    color: rgb(72, 65, 67, 0.50);
}

#comment-label {
    width: 80px;
}

#comments {
    margin: 2% 0% 2% 0%;
}

#navigate-next-icon{
    width: 50px;
    height: 50px;
}

#dropdown-icon {
    width: 30px;
    height: 30px;
}

@media(min-width: 1000px) {

    #post-image {
        height: 35vh;
    }

    .red-bubble {
        height: 3vh;
    }
    
    .blue-a-bubble {
        height: 3vh;
    }
    
    .blue-b-bubble {
        height: 3vh;
    }
    
    .blue-c-bubble {
        height: 3vh;
    }

    .blog-post-card {

        height: 20vh;
        width: 25vw;
    }

    

}

@media(min-width: 1500px) {

    #post-image {
        height: 55vh;
    }

    .blog-post-card {
        height: 30vh;
    }

    .card-text {
        font-size: 1.5em;
    }

}

/*######################################*/

/*
@media(min-width: 1000px) {

    .blog-post-card {
        height: 15vh;
        width: 30vw;
    }
  
  }
  
  @media(min-width: 1200px) and (max-width: 1500px) {
  
    .blog-post-card {
        height: 25vh;
        width: 30vw;
    }
  
  }
  
  @media(min-width: 1500px) {
  
    .blog-post-card {
        height: 35vh;
        width: 30vw;
    }
  
    .card-text {
        font-size: 1.5em;
    }
  
    .card-content {
        height: 15%;
    }
  
  }
  */