@import "./card.css";
.blog-post-card {
    padding: 1%;
    margin: 2%;
    background: #484143;
}

.card-content {
    color: white;
}

.avatar {
    width: 38px;
    height: 38px;
    margin-right: 1%;
}

@media(min-width: 1500px) {
    .card-content {
        font-size: 0.75em;
    }
}