

@import "./card.css";

.blog-post-card {
    height: 12vh;
    width: 30vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1% 1% 1% 1%;
    flex: 0 0 auto;
}

.card-content {
    position: relative;
    top: 80%;
    color: white;
    background-color: rgb(72, 65, 67, 0.85);
    border-radius: 10px;
}

.avatar {
    width: 38px;
    height: 38px;
    margin-right: 1%;
}