

@import "./card.css";

.blog-post-card {
    height: 15vh;
    width: 70vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1% 1% 1% 1%;
    flex: 0 0 auto;
}

.card-content {
    position: relative;
    top: 60%;
    color: white;
    background-color: rgb(72, 65, 67, 0.85);
    border-radius: 10px;
}

.avatar {
    width: 38px;
    height: 38px;
    margin-right: 1%;
}

@media(min-width: 750px) {

    .card-content {
        top: 75%;
    }

}

@media(min-width: 1500px) {

    .card-content {
        font-size: 0.75em;
    }
  
}