.branding-card-A {
    margin-top: 4%;
    width: 80vw;
}

.branding-card-A-img {
    height: 20vh;
    width: 50vw;
}

.branding-card-A-content {
    margin-left: 5%;
}

.contact-map-img {
    height: 20vh;
    width: 25vw;
}

@media(min-width: 768px) {
    .branding-card-A-content {
        margin-left: 3%;
    }
    .branding-card-A-img {
        height: 25vh;
    }
    .contact-map-img {
        height: 25vh;
    }
}

@media(min-width: 900px) {
    .branding-card-A-img {
        height: 30vh;
    }
    .contact-map-img {
        height: 30vh;
    }
}

@media(min-width: 1100px) {
    .branding-card-A-img {
        height: 50vh;
    }
    .contact-map-img {
        height: 50vh;
    }
}