.branding-card-B {
    height: 39vh;
    width: 80vw;
}

.branding-card-B-img-section {
    padding: 0% 1% 0% 1%;
    height: 39vh;
    width: 45vw;
    margin: 0%;
}

.branding-card-B-section-text {
    margin-top: 1%;
}

.branding-card-B-img {
    height: 20vh;
    width: 45vw;
}

.branding-card-B-content {
    margin: 0% 2% 0% 2%;
    align-items: center;
}

.branding-card-B-icon {
    height: 15px;
    width: 15px;
    margin-right: 4%;
}

#social-media-card {
    height: 20vh;
}

#social-media-branding {
    align-items: center;
    height: 20vh;
}

#social-media {
    margin: 3% 0% 3% 0%;
}

@media(min-width: 375px) and (min-height: 812px) {
    .branding-card-B {
        height: 36vh;
    }
    .branding-card-B-img-section {
        height: 36vh;
        width: 50vw;
    }
    .branding-card-B-img {
        width: 50vw;
    }
}

@media(min-width: 768px) {
    .branding-card-B-icon {
        height: 25px;
        width: 25px;
    }
}

@media(min-width: 900px) {
    .branding-card-B {
        height: 52vh;
    }
    .branding-card-B-img-section {
        height: 52vh;
    }
    .branding-card-B-img {
        height: 35vh;
    }
    #social-media-branding {
        height: 35vh;
    }
    #social-media-card {
        height: 35vh;
    }
}

@media(min-width: 1100px) {
    .branding-card-B {
        height: 80vh;
    }
    .branding-card-B-img-section {
        height: 80vh;
    }
    .branding-card-B-img {
        height: 55vh;
    }
    #social-media-branding {
        height: 55vh;
    }
    #social-media-card {
        height: 55vh;
    }
}