.card {
    border: 1px solid #F6F6F6;
    box-shadow: 0px 4px 3px rgb(190, 190, 190);
    flex: 1 0 auto;
}

.card-text {
    font-size: 0.70em;
}

.card-spacing {
    margin-top: 8%;
}

.cards-section-header {
    position: relative;
    left: -2.5%;
    margin-bottom: 10px;
}