.food-cards-section {
    align-self: center;
}

.food-card {
    margin: 0% 1% 0% 1%;
    height: 27vh;
    width: 26vw;
    padding-bottom: 1%;
    justify-content: flex-start;
}

.food-card-img {
    height: 10vh;
    width: 26vw;
    align-self: center;
}

.food-card-content {
    margin: 2% 0% 2% 0%;
}

@media(min-width: 375px) and (min-height: 812px) {
    .food-card {
        height: 25vh;
    }
}

@media(min-width: 900px) {
    .food-card {
        height: 30vh;
    }
    .food-card-img {
        height: 15vh;
    }
}

@media(min-width: 1100px) {
    .food-card {
        height: 53vh;
    }
    .food-card-img {
        height: 25vh;
    }
}