

.footer {
    grid-area: ft;
    background: #484143;
    color: #ffffff;

    height: 350px;
    display: grid;
    margin: 0;
  
    grid-template-columns: 1fr 90vw 1fr;
    grid-template-rows: 80% 10% 10%;
}

.footer-nav-button {
    margin: 1%;
    color: #ffffff;
}

.footer-paragraph {
    line-height: 1.25em;
    margin: 0.5% 0.25% 0.5% 0.25%;
}

.footer-icon {
    width: 16px;
    height: 16px;
    flex-shrink: 1;
    margin: 5% 10% 5% 10%;
}

#footer-content {
    grid-area: 1/2/2/3;
    justify-content: space-between;
}

#footer-nav {
    grid-area: 2/2/3/3;
    margin-left: -0.50%;
}

#line {
    grid-area: 3/2/4/3;
    height: 0.25px;
    width: 90vw;
}

@media(min-width: 750px) {

    .footer {
        height: 236px;
        grid-template-rows: 65% 20% 15%;
    }

    .footer-section {
        flex-flow: row nowrap;
    }
  
}
  