

.header {
    grid-area: hd;
    background: #484143;

    display: grid;
    height: 64px;
    margin: 0;
  
    grid-template-columns: 1fr 90vw 1fr;
    grid-template-rows: 64px;
}

.header-nav-button {
    margin: 5%;
    color: #ffffff;
}

#header-content {
    grid-area: 1/2/2/3;
    height: 64px;
    justify-content: space-between;
}

#logo {
    width: 120px;
    height: 33px;
    margin-left: 2%;
}

@media(min-width: 1000px) {

    #logo {
        width: 174px;
    }
    
  }
  