.progress-circle {
    width: 7px;
    height: 7px;
    border-radius: 100%;
    border: 1px solid transparent;
    margin: 0% 1% 0% 1%;
    flex: 0 0 auto;
}

.progress-circle:hover {
    background-color: #EA5643;
}

#hero-slider {
    align-self: center;
}

#hero-slider-break {
    position: relative;
    top: -2%;
}

#next-icon-1,
#next-icon-2 {
    width: 30px;
    height: 30px;
}

#next-icon-1 {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

#hero-img {
    background-image: url("../../../assets/images/group-of-people-gathering-inside-bar.jpg");
    width: 80vw;
    height: 30vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-progress {
    align-self: center;
    position: relative;
    top: 90%;
}

@media(min-width: 768px) {
    .progress-circle {
        width: 14px;
        height: 14px;
    }
    #next-icon-1,
    #next-icon-2 {
        width: 50px;
        height: 50px;
    }
}

@media(min-width: 900px) {
    .progress-circle {
        width: 21px;
        height: 21px;
    }
    #hero-img {
        height: 50vh;
    }
    #next-icon-1,
    #next-icon-2 {
        width: 70px;
        height: 70px;
    }
}

@media(min-width: 1100px) {
    #hero-img {
        height: 60vh;
    }
}