#nav-bar {
    grid-area: nb;
    justify-content: space-between;
}

#nav-slide-button {
    height: 28px;
    width: 28px;
    margin-right: 2.5%;
}

#logo {
    width: 110px;
    height: 30px;
}

@media(min-width: 768px) {
    #nav-slide-button {
        height: 32px;
        width: 32px;
    }
    #logo {
        width: 140px;
        height: 60px;
    }
}

@media(min-width: 1000px) {
    #nav-slide-button {
        height: 48px;
        width: 48px;
    }
    #logo {
        width: 200px;
        height: 110px;
    }
}