#scroll-top-button {
    position: fixed;
    top: 8%;
    left: 1%;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid transparent;
    z-index: 1;
    transition: 2s;
}

#scroll-top-icon {
    width: 20px;
    height: 20px;
    align-self: center;
}

@media(min-width: 768px) {
    #scroll-top-button {
        top: 7%;
        width: 35px;
        height: 35px;
    }
    #scroll-top-icon {
        width: 35px;
        height: 35px;
    }
}

@media(min-width: 900px) {
    #scroll-top-button {
        top: 8%;
        width: 40px;
        height: 40px;
    }
    #scroll-top-icon {
        width: 40px;
        height: 40px;
    }
}

@media(min-width: 1024px) {
    #scroll-top-button {
        top: 7%;
        width: 55px;
        height: 55px;
    }
    #scroll-top-icon {
        width: 55px;
        height: 55px;
    }
}

@media(min-width: 1100px) {
    #scroll-top-button {
        top: 8%;
    }
}