.active-side-menu {
    right: 0vw;
}

.unactive-side-menu {
    right: -50vw;
}

.side-menu-button {
    margin: 5% 0 5% 5%;
    font-size: 1em;
}

.side-menu-button:hover {
    color: #EA5643;
    transition: 0.4s;
}

.sidemenu-break-line {
    width: 90%;
    color: #F9F6E5;
}

#side-menu {
    position: fixed;
    z-index: 1;
    top: 30px;
    width: 50vw;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    transition: 0.7s;
    opacity: 95%;
}

@media(min-width: 768px) {
    #side-menu {
        top: 40px;
    }
}

@media(min-width: 1000px) {
    #side-menu {
        top: 60px;
    }
}

@media(min-width: 1100px) {
    .side-menu-button {
        margin: 2% 0 2% 2%;
        font-size: 1em;
    }
    #side-menu {
        width: 25vw;
        font-size: 0.7em;
    }
}