

.topbar {
  grid-area: topb;
  background: #ECB177;

  display: grid;
  margin: 0;
  
  grid-template-columns: 1fr 90vw 1fr;
}

.topbar-icon {
  margin-left: 1%;
  width: 22px;
  height: 22px;
}

.gray-bubble {
  background-color: #dedede7a;
  color: #484143;
  border-radius: 10px;
}

#topbar-content {
  grid-area: 1/2/2/3;
  justify-content: space-evenly;
}

#search {
  height: 50%;
  width: 50%;
}

#categories {
  height: 50%;
  padding: 0% 1% 0% 1%;
}

#search-input {
  background-color: transparent;
  color: #484143;
  border: none;
  font-size: 1em;
  width: 80%;
  margin-left: 2%;
}

