
@import "../images.css";
@import "../components/blog-post-card.css";
@import "../pages/index.css";
@import "../global.css";

body {
  grid-template-rows: 64px 67px 1fr 236px;

  grid-template-areas: 
    "hd hd hd"
    "topb topb topb"
    "main main main"
    "ft ft ft";
}

#main-content {
  grid-area: 1/2/2/3;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

@media(min-width: 1000px) {

  .blog-post-card {
      height: 15vh;
      width: 30vw;
  }

}

@media(min-width: 1200px) and (max-width: 1500px) {

  .blog-post-card {
      height: 25vh;
      width: 30vw;
  }

}

@media(min-width: 1500px) {

  .blog-post-card {
      height: 35vh;
      width: 30vw;
  }

  .card-text {
      font-size: 1.5em;
  }

  .card-content {
      height: 15%;
  }

}