@import "../global.css";
@import "../pages/index.css";
@import "../components/blog-post-card.css";
.social-media {
    justify-content: space-between;
}

.bubble {
    margin-right: 1%;
}

.red-bubble {
    background-color: #E60023;
    color: #FFFFFF;
    border-radius: 10px;
    height: 2vh;
    width: 15vw;
    border: none;
}

.blue-a-bubble {
    background-color: #3578E5;
    color: #FFFFFF;
    border-radius: 10px;
    height: 2vh;
    width: 15vw;
    border: none;
}

.blue-b-bubble {
    background-color: #0073B1;
    color: #FFFFFF;
    border-radius: 10px;
    height: 2vh;
    width: 15vw;
    border: none;
}

.blue-c-bubble {
    background-color: #1DA1F2;
    color: #FFFFFF;
    border-radius: 10px;
    height: 2vh;
    width: 15vw;
    border: none;
}

.comment {
    margin: 0% 0% 0% 0%;
}

.icon {
    width: 15px;
    height: 15px;
}

.content-section {
    text-align: justify;
    line-height: 1.25em;
}

.card-text {
    font-size: 0.85em;
    text-align: center;
    margin-top: 2%;
}

.card-img {
    height: 17vh;
    width: 23vw;
}

.card-content {
    width: 20vw;
}

#post-image {
    height: 25vh;
    width: 70vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1% 1% 1% 1%;
    position: relative;
    left: 10%;
}

#post-image-caption {
    position: relative;
    top: 85%;
    background-color: rgb(72, 65, 67, 0.85);
    border-radius: 10px;
}

#caption-content {
    color: rgb(72, 65, 67, 0.50);
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

#share-icon {
    width: 30px;
    height: 30px;
}

#main-content {
    grid-area: 1/2/2/3;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    color: #484143;
}

#author-avatar {
    width: 58px;
    height: 58px;
    margin-right: 1%;
}

#front {
    margin-bottom: 5%;
}

#post-title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1%;
}

#biography {
    color: rgb(72, 65, 67, 0.50);
    margin-top: 3%;
}

#update-date {
    color: rgb(72, 65, 67, 0.50);
}

#comment-label {
    width: 60px;
}

#comments {
    margin: 2% 0% 2% 0%;
}

#navigate-next-icon {
    width: 40px;
    height: 40px;
}

#dropdown-icon {
    width: 30px;
    height: 30px;
}

#related-posts {
    position: relative;
    left: -3%;
}

@media(min-width: 370px) {
    .card-img {
        height: 15vh;
        width: 24vw;
    }
    .card-content {
        width: 24vw;
    }
}

@media(min-width: 750px) {
    body {
        grid-template-rows: 44px 1fr 1fr;
    }
    .card-text {
        font-size: 1em;
    }
    .card-img {
        height: 12vh;
        width: 22vw;
    }
    .card-content {
        width: 22vw;
    }
}

@media(min-width: 1000px) {
    #comment-label {
        width: 80px;
    }
    #post-image {
        height: 35vh;
    }
    .red-bubble {
        height: 3vh;
    }
    .blue-a-bubble {
        height: 3vh;
    }
    .blue-b-bubble {
        height: 3vh;
    }
    .blue-c-bubble {
        height: 3vh;
    }
}

@media(min-width: 1500px) {
    body {
        grid-template-rows: 64px 1fr 236px;
    }
    #post-image {
        height: 55vh;
    }
    .card-text {
        font-size: 1.5em;
    }
    .card-img {
        height: 25vh;
        width: 25vw;
    }
    .card-content {
        width: 25vw;
    }
}