@import "../components/nav-bar.css";
@import "../components/footer.css";
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #484143;
    display: grid;
    height: 100vh;
    margin: 0;
    grid-template-columns: 1fr 90vw 1fr;
    grid-template-rows: 34px 1fr 236px;
    grid-template-areas: "nb nb nb" "main main main" "ft ft ft";
}

.main {
    grid-area: main;
    display: grid;
    margin: 0;
    grid-template-columns: 1fr 90vw 1fr;
    grid-template-rows: 1fr;
}

@media(max-width: 1000px) {
    body {
        font-size: 0.75em;
    }
}