/* Landscape phones (height 320px and up) */

@media only screen and (min-height: 320px) and (orientation: landscape) {
    .weather-card {
        margin-top: 3vw;
    }
    .weather-card-icon {
        width: 12vh;
        height: 6vw;
    }
}