@import "../../global.css";
@import "../../theme/theme.css";
@import "../../components/top-bar/top-bar.css";
@import "../../components/button/button.css";
@import "../../components/weather-card/weather-card.css";
@import "../../components/alert/alert.css";
@import "../../components/zip-code-alert/zip-code-alert.css";
html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    margin: 0;
    grid-template-columns: 1fr 80vw 1fr;
    grid-template-rows: 1fr;
}

.temp-container {
    align-items: flex-start;
    width: 100%;
}

#main {
    position: relative;
    top: 6vh;
    padding: 3vh 0;
    grid-area: 1/2/2/3;
}

#time {
    opacity: 0.8;
}

#weather-icon {
    width: 15vw;
    height: 15vw;
    margin-right: 1%;
}

#weather-condition {
    margin-left: 1%;
}

#feels-like {
    width: 150%;
}

#feelings-form {
    margin-top: 3vh;
    border: none;
    padding: 1%;
}

#feelings-input {
    overflow: auto;
    outline: none;
    padding: 2% 0% 0% 5%;
    width: 65vw;
}

#generate {
    width: 70vw;
    margin: 2% 0%;
}

#change-location {
    width: 80vw;
    margin-top: 3vh;
}


/* Tablets (width 768px and up) */

@media only screen and (min-width: 768px) {
    #weather-icon {
        width: 12vw;
        height: 12vh;
        margin-right: 0%;
    }
}